@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/raleway-v19-latin_cyrillic-700.woff2") format("woff2"), url("../fonts/raleway-v19-latin_cyrillic-700.woff") format("woff");
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/roboto-v27-latin_cyrillic-regular.woff2") format("woff2"), url("../fonts/roboto-v27-latin_cyrillic-regular.woff") format("woff");
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/roboto-v27-latin_cyrillic-500.woff2") format("woff2"), url("../fonts/roboto-v27-latin_cyrillic-500.woff") format("woff");
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/roboto-v27-latin_cyrillic-700.woff2") format("woff2"), url("../fonts/roboto-v27-latin_cyrillic-700.woff") format("woff");
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/roboto-v27-latin_cyrillic-900.woff2") format("woff2"), url("../fonts/roboto-v27-latin_cyrillic-900.woff") format("woff");
}

:root {
  --primary-text-color: rgba(117, 117, 117, 1);
  --titles-text-color: rgba(33, 33, 33, 1);
  --white-color: rgba(255, 255, 255, 1);
  --ourteam-bgc-color: rgba(245, 244, 250, 1);
  --footer-color: rgba(47, 48, 58, 1);
  --active-color: rgba(33, 150, 243, 1);
  --icon-color: rgba(175, 177, 184, 1);
  --bgc-hero: rgb(47, 48, 58);
  --border-card: rgb(238, 238, 238);
  --grid-item: 1;
  --primary-margin: 30px;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  color: var(--primary-text-color);
  background-color: var(--white-color);
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.03em;
  margin: 0;
}

.lists {
  padding: 0;
  margin: 0;
  list-style: none;
}

.link {
  text-decoration: none;
  color: inherit;
}

.link:hover,
.link:focus {
  color: var(--active-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.section {
  padding-bottom: 60px;
  padding-top: 60px;
}

@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  overflow: hidden;
}

@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.button {
  color: var(--white-color);
  background-color: var(--active-color);
  cursor: pointer;
  padding: 10px 32px;
  min-width: 200px;
  border-radius: 4px;
  border: transparent;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
}

.title {
  color: var(--titles-text-color);
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .title {
    margin-bottom: 50px;
  }
}

@media screen and (max-width: 1199.98px) {
  .title {
    font-size: 28px;
  }
}

.logo {
  text-decoration: none;
  color: var(--active-color);
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
}

@media screen and (max-width: 1199.98px) {
  .logo {
    font-size: 24px;
    line-height: 1.16;
  }
}

.header {
  border-bottom: 1px solid #ececec;
}

.header-container {
  display: flex;
  align-items: center;
}

.nav {
  display: flex;
  align-items: center;
  margin-right: auto;
}

.header__logo {
  display: flex;
  margin-right: 93px;
  padding-top: 16px;
  padding-bottom: 16px;
}

.logo--header {
  color: var(--titles-text-color);
}

.nav-lists {
  display: flex;
}

@media screen and (max-width: 767.98px) {
  .nav-lists {
    display: none;
  }
}

.nav-lists .nav-lists__link {
  color: var(--titles-text-color);
  text-decoration: none;
  padding-top: 32px;
  padding-bottom: 32px;
  display: flex;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-lists .nav-lists__link:hover, .nav-lists .nav-lists__link:focus {
  color: var(--active-color);
}

.nav-lists .nav-lists__link--active::after {
  position: absolute;
  left: 0;
  bottom: 0;
  content: "";
  display: block;
  height: 4px;
  width: 100%;
  border-radius: 2px;
  background-color: var(--active-color);
}

.nav-lists .nav-lists__item {
  position: relative;
}

.nav-lists .nav-lists__item:not(:first-child) {
  margin-left: 50px;
}

.nav-lists .nav-lists__link--active {
  color: var(--active-color);
}

.header-contacts {
  display: flex;
}

@media screen and (max-width: 767.98px) {
  .header-contacts {
    display: none;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .header-contacts {
    flex-direction: column;
    font-size: 12px;
    line-height: 1.16;
  }
}

@media screen and (min-width: 1200px) {
  .header-contacts .header-contacts__item:not(:first-child) {
    margin-left: 50px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .header-contacts .header-contacts__item:not(:first-child) {
    margin-top: 10px;
  }
}

.header-contacts .header-contacts__link {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .header-contacts .header-contacts__link {
    font-size: 12px;
    line-height: 1.16;
  }
}

.header-contacts .header-contacts__icon {
  margin-right: 10px;
  fill: var(--icon-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-contacts .header-contacts__link:hover .header-contacts__icon,
.header-contacts .header-contacts__link:focus .header-contacts__icon {
  fill: var(--active-color);
}

@media screen and (max-width: 767.98px) {
  .mobile-menu-btn {
    position: relative;
    z-index: 105;
    margin-left: auto;
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: none;
  }
  .mobile-menu-icon {
    width: 40px;
    height: 40px;
  }
  .icon-close {
    display: none;
  }
  .is-open .icon-close {
    display: block;
  }
  .is-open .icon-menu {
    display: none;
  }
  .active-page-mobile {
    color: var(--active-color);
  }
  .mobile-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: -150%;
    width: 100%;
    height: 100%;
    z-index: 100;
    padding-top: 48px;
    padding-bottom: 48px;
    padding-left: 40px;
    background: #ffffff;
    transition: left 0.5s;
  }
  .mobile-menu.is-open {
    left: 0;
  }
  .mobile-menu__list {
    font-weight: 500;
    font-size: 40px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: var(--titles-text-color);
  }
}

@media screen and (max-width: 767.98px) and (max-width: 479.98px) {
  .mobile-menu__list {
    font-size: 34px;
  }
}

@media screen and (max-width: 767.98px) {
  .mobile-menu__item:not(:last-child) {
    margin-bottom: 32px;
  }
  .mobile-contact {
    margin-bottom: 64px;
  }
  .mobile-contact__item:first-child {
    margin-bottom: 32px;
    font-size: 34px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: var(--active-color);
  }
}

@media screen and (max-width: 767.98px) and (max-width: 479.98px) {
  .mobile-contact__item:first-child {
    font-size: 28px;
  }
}

@media screen and (max-width: 767.98px) {
  .mobile-contact__item:last-child {
    font-weight: 500;
    font-size: 24px;
    line-height: 1.16;
    letter-spacing: 0.02em;
  }
  .mobile-social__list {
    display: flex;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: 0.02em;
    color: var(--active-color);
  }
}

@media screen and (max-width: 767.98px) and (max-width: 479.98px) {
  .mobile-social__list {
    font-size: 12px;
  }
}

@media screen and (max-width: 767.98px) {
  .mobile-social__item:not(:last-child) {
    padding-right: 10px;
    border-right: 1px solid rgba(33, 33, 33, 0.2);
  }
  .mobile-social__item:not(:first-child) {
    padding-left: 10px;
  }
}

@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
  .mobile-menu-btn {
    display: none;
  }
}

.hero-bg {
  background-size: cover;
  background-position: center;
  background-color: var(--bgc-hero);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../image/adaptive/bg/mob-bg.jpg);
}

@media screen and (max-width: 1199.98px) {
  .hero-bg {
    padding-top: 118px;
    padding-bottom: 118px;
  }
}

@media screen and (min-width: 1200px) {
  .hero-bg {
    padding-top: 200px;
    padding-bottom: 200px;
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero-bg {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../image/adaptive/bg/mob-bg-2x.jpg);
  }
}

@media screen and (min-width: 480px) {
  .hero-bg {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../image/adaptive/bg/tablet-bg.jpg);
  }
}

@media screen and (min-width: 480px) and (min-device-pixel-ratio: 2), screen and (min-width: 480px) and (min-resolution: 192dpi), screen and (min-width: 480px) and (min-resolution: 2dppx) {
  .hero-bg {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../image/adaptive/bg/tablet-bg-2x.jpg);
  }
}

@media screen and (min-width: 768px) {
  .hero-bg {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../image/adaptive/bg/desk-bg.jpg);
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero-bg {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../image/adaptive/bg/desk-bg-2x.jpg);
  }
}

.hero-bg .hero {
  text-align: center;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
}

.hero-bg .hero__text {
  color: var(--white-color);
  max-width: 695px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: var(--primary-margin);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

@media screen and (max-width: 1199.98px) {
  .hero-bg .hero__text {
    max-width: 360px;
    font-size: 26px;
    line-height: 1.62;
  }
}

.hero-bg .hero__button {
  align-items: center;
}

.features-lists {
  display: flex;
  flex-wrap: wrap;
  margin-right: calc(-1 * var(--primary-margin));
}

.features-lists .features-lists__item::before {
  display: block;
  margin-bottom: 30px;
  padding: 25px 100px;
  content: "";
  height: 120px;
  background-color: var(--ourteam-bgc-color);
  background-repeat: no-repeat;
  background-position: center;
}

.features-lists .features-lists__item:nth-child(1)::before {
  background-image: url(../image/features/antenna.svg);
}

.features-lists .features-lists__item:nth-child(2)::before {
  background-image: url(../image/features/clock.svg);
}

.features-lists .features-lists__item:nth-child(3)::before {
  background-image: url(../image/features/diagram.svg);
}

.features-lists .features-lists__item:nth-child(4)::before {
  background-image: url(../image/features/astronaut.svg);
}

.features-lists .features-lists__item {
  flex-basis: calc((100% - 30px * var(--grid-item)) / var(--grid-item));
  --grid-item: 1;
  margin-left: 0;
}

@media screen and (min-width: 768px) {
  .features-lists .features-lists__item {
    --grid-item: 2;
  }
}

@media screen and (min-width: 1200px) {
  .features-lists .features-lists__item {
    --grid-item: 4;
  }
}

@media screen and (max-width: 767.98px) {
  .features-lists .features-lists__item:not(:first-child) {
    margin-top: 30px;
  }
}

@media screen and (min-width: 768px) {
  .features-lists .features-lists__item:nth-child(2n) {
    margin-left: var(--primary-margin);
  }
}

@media screen and (min-width: 1200px) {
  .features-lists .features-lists__item:not(:first-child) {
    margin-left: var(--primary-margin);
  }
}

.features-lists .features-lists__title {
  color: var(--titles-text-color);
  margin-bottom: 10px;
  padding-left: 5px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

@media screen and (max-width: 767.98px) {
  .features-lists .features-lists__title {
    text-align: center;
  }
}

.features-lists .features-lists__text {
  padding-left: 5px;
  font-size: 14px;
  line-height: 1.71;
  display: flex;
}

.works {
  padding-bottom: 94px;
}

@media screen and (max-width: 1199.98px) {
  .works {
    display: none;
  }
}

.works .works__lists {
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(-1 * var(--primary-margin));
  margin-top: calc(-1 * var(--primary-margin));
}

.works .works__item {
  position: relative;
  display: block;
  margin-left: var(--primary-margin);
  margin-top: var(--primary-margin);
  flex-basis: calc( (100% - var(--primary-margin) * var(--grid-item)) / var(--grid-item));
  --grid-item: 3;
}

.works .works__label {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
}

.works .works__text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-color);
}

.our-team {
  background-color: var(--ourteam-bgc-color);
}

.our-team .our-team__lists {
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(-1 * var(--primary-margin));
}

.our-team .our-team__item {
  flex-basis: calc((100% - 30px * var(--grid-item)) / var(--grid-item));
  --grid-item: 1;
  margin-left: 30px;
  background-color: var(--white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

@media screen and (min-width: 768px) {
  .our-team .our-team__item {
    --grid-item: 2;
  }
}

@media screen and (min-width: 1200px) {
  .our-team .our-team__item {
    --grid-item: 4;
  }
}

@media screen and (max-width: 767.98px) {
  .our-team .our-team__item:not(:first-child) {
    margin-top: var(--primary-margin);
  }
}

@media screen and (min-width: 768px) {
  .our-team .our-team__item:nth-child(n + 3) {
    margin-top: var(--primary-margin);
  }
}

@media screen and (min-width: 1200px) {
  .our-team .our-team__item:not(:first-child) {
    margin-left: var(--primary-margin);
    margin-top: 0;
  }
}

.our-team .our-team__info {
  padding-top: var(--primary-margin);
  padding-bottom: var(--primary-margin);
  padding-right: 32px;
  padding-left: 32px;
}

.our-team .our-team__title {
  color: var(--titles-text-color);
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.our-team .our-team__posistion {
  font-size: 16px;
  line-height: 1.19;
  margin-bottom: 16px;
  text-align: center;
}

.social-list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-list .social-list__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list .social-list__item + .social-list__item {
  margin-left: 10px;
}

.social-list__link:hover, .social-list__link:focus {
  background-color: var(--active-color);
}

.social-list .social-list__icon {
  width: 20px;
  height: 20px;
  fill: var(--icon-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list__link:hover .social-list__icon,
.social-list__link:focus .social-list__icon {
  background-color: transparent;
  fill: var(--white-color);
}

.customer__lists {
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(-1 * var(--primary-margin));
}

@media screen and (min-width: 768px) {
  .customer__lists {
    margin-top: calc(-1 * var(--primary-margin));
  }
}

.customer__item {
  margin-top: 30px;
  margin-left: 30px;
  outline: none;
  flex-basis: calc((100% - 30px * var(--grid-item)) / var(--grid-item));
  --grid-item: 2;
}

@media screen and (min-width: 768px) {
  .customer__item {
    --grid-item: 3;
  }
}

@media screen and (min-width: 1200px) {
  .customer__item {
    --grid-item: 6;
  }
}

.customer__link {
  display: flex;
  border: 1px solid var(--icon-color);
  border-radius: 4px;
  height: 90px;
  justify-content: center;
  align-items: center;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customer__link:hover, .customer__link:focus {
  border: 1px solid var(--active-color);
}

.customer__icon {
  fill: var(--icon-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customer__link:hover .customer__icon,
.customer__link:focus .customer__icon {
  fill: var(--active-color);
}

.footer {
  display: flex;
  background-color: var(--footer-color);
}

.footer .footer__container {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (max-width: 1199.98px) {
  .footer .footer__container {
    text-align: center;
  }
}

@media screen and (min-width: 768px) {
  .footer .footer__container {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: space-around;
  }
}

@media screen and (min-width: 1200px) {
  .footer .footer__container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: baseline;
  }
}

.footer .footer__come-us-wrap {
  flex-basis: calc((50%-15px) / 2);
  margin-bottom: 60px;
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .footer__block:first-child {
    flex-basis: calc(50% - 137px);
  }
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .footer__block:nth-child(2) {
    flex-basis: calc(50% - 163px);
  }
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .footer__block {
    flex-basis: calc((100% - 165px) / 2);
  }
}

@media screen and (min-width: 1200px) {
  .footer__block {
    flex-basis: calc((50% - 45px) / 2);
  }
  .footer__block:last-child {
    flex-basis: calc(50% - 15px);
  }
}

.logo--footer {
  color: var(--white-color);
}

.footer-address {
  margin-top: 20px;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.footer-address .footer-address__item {
  color: var(--white-color);
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
}

.footer-address .footer-address__contacts {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}

.footer-address__contacts:hover, .footer-address__contacts:focus {
  color: var(--active-color);
}

.footer-address .footer-address__text {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-address .footer-address__lists > li:not(:last-child) {
  margin-bottom: 10px;
}

.come-us__text,
.sign-in__text {
  display: inline-block;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-color);
  margin-bottom: 20px;
}

.social-list__link--footer {
  background-color: rgba(255, 255, 255, 0.1);
}

.social-list__icon--footer {
  fill: var(--white-color);
}

.social-list--footer {
  justify-content: center;
  margin-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .social-list--footer {
    justify-content: start;
  }
}

.footer-form {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 1200px) {
  .footer-form {
    flex-wrap: nowrap;
    flex-direction: row;
  }
}

.footer-form .footer-form__input {
  width: 100%;
  height: 50px;
  padding-left: 16px;
  padding-top: 12px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  font-size: 16px;
  line-height: 1.25;
  align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .footer-form .footer-form__input {
    width: 450px;
    margin-bottom: 20px;
  }
}

.footer-form .footer-form__btn {
  position: relative;
  padding-left: 29px;
  padding-right: 62px;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  height: 50px;
}

@media screen and (min-width: 1200px) {
  .footer-form .footer-form__btn {
    margin-right: 0;
    margin-left: 12px;
  }
}

.footer-form .footer-form__icon {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 13px;
  right: 28px;
}

.filter-lists {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

@media screen and (max-width: 767.98px) {
  .filter-lists {
    flex-wrap: wrap;
    justify-content: left;
  }
}

.filter-lists__item:not(:last-child) {
  margin-right: 9px;
}

@media screen and (max-width: 767.98px) {
  .filter-lists__item:nth-child(4), .filter-lists__item:nth-child(5) {
    margin-top: 15px;
  }
}

.filter-lists__btn {
  padding: 6px 22px;
  color: var(--titles-text-color);
  background-color: var(--ourteam-bgc-color);
  border-radius: 4px;
  border: transparent;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  display: inline-block;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter-lists__btn:hover, .filter-lists__btn:focus {
  color: var(--white-color);
  background-color: var(--active-color);
  cursor: pointer;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio {
  display: flex;
  flex-wrap: wrap;
  margin-right: calc(-1 * var(--primary-margin));
}

@media screen and (min-width: 1200px) {
  .portfolio {
    --grid-item: 3;
    margin-left: calc(-1 * var(--primary-margin));
  }
}

.portfolio .portfolio__card {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-basis: calc((100% - 30px * var(--grid-item)) / var(--grid-item));
  border-bottom: 1px solid var(--border-card);
  border-right: 1px solid var(--border-card);
  border-left: 1px solid var(--border-card);
}

.portfolio .portfolio__card:not(:first-child) {
  margin-top: var(--primary-margin);
}

@media screen and (min-width: 768px) {
  .portfolio .portfolio__card {
    --grid-item: 2;
  }
  .portfolio .portfolio__card:nth-child(-n + 2) {
    margin-top: 0;
  }
  .portfolio .portfolio__card:nth-child(2n) {
    margin-left: var(--primary-margin);
  }
}

@media screen and (min-width: 1200px) {
  .portfolio .portfolio__card {
    --grid-item: 3;
    margin-left: var(--primary-margin);
  }
  .portfolio .portfolio__card:nth-child(-n + 3) {
    margin-top: 0;
  }
}

.portfolio .portfolio__link {
  position: relative;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio .portfolio__link:hover, .portfolio .portfolio__link:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.portfolio__link:hover .portfolio__project-type,
.portfolio__link:focus .portfolio__project-type {
  color: var(--primary-text-color);
}

.portfolio .portfolio__container {
  position: relative;
  overflow: hidden;
}

.portfolio .portfolio__label {
  position: absolute;
  top: 100%;
  height: 0;
  width: 370px;
  height: 294px;
  padding: 63px 24px;
  background-color: rgba(33, 150, 243, 0.9);
  opacity: 0;
  pointer-events: none;
  transform: translateY(0);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio .portfolio__link:hover .portfolio__label,
.portfolio .portfolio__link:focus .portfolio__label {
  transform: translateY(-100%);
  opacity: 1;
}

.portfolio .portfolio__text-label {
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--white-color);
  opacity: inherit;
}

.portfolio .portfolio__projects-info {
  padding: 20px 24px;
}

.portfolio .portfolio__project-titles {
  color: var(--titles-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}

.portfolio .portfolio__project-type {
  font-size: 16px;
  line-height: 1.88;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  z-index: 110;
  transform: scale(1) rotateZ(1turn);
  transition: transform 350ms linear, opacity 350ms linear;
}

.backdrop.is-hidden {
  transform: scale(0.3);
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 528px;
  min-height: 581px;
  padding: 40px;
  background-color: var(--white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

@media screen and (max-width: 1199.98px) {
  .modal {
    max-width: 450px;
    width: 100%;
    min-height: 609px;
  }
}

@media screen and (min-width: 1200px) {
  .modal {
    max-width: 528px;
    min-height: 581px;
  }
}

.modal .modal__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.01em;
  color: #212121;
}

.modal .modal__form {
  margin-top: 10px;
}

.modal .modal__label {
  display: block;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--primary-text-color);
}

.modal .modal__input-wrap {
  display: flex;
  position: relative;
  margin-top: 4px;
  margin-bottom: 10px;
}

.modal .modal__input {
  display: block;
  padding-left: 42px;
  width: 100%;
  height: 40px;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal .modal__icon {
  position: absolute;
  top: 11px;
  left: 12px;
  fill: var(--titles-text-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__input:focus + .modal__icon {
  fill: var(--active-color);
}

.modal__input:focus, .modal__textarea:focus {
  outline: none;
  border: 1px solid var(--active-color);
  box-sizing: border-box;
  border-radius: 4px;
}

.modal .modal__textarea {
  display: block;
  margin-top: 4px;
  margin-bottom: 20px;
  width: 100%;
  padding: 12px 16px;
  resize: none;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: var(--primary-text-color);
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal .modal__textarea::placeholder {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal .modal__checkbox-label {
  font-size: 14px;
  line-height: 1.71;
}

.modal .modal__checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: none;
}

.modal .modal__checkbox-icon {
  display: inline-block;
  background-image: url(../image/form/Vector.svg);
  width: 16px;
  height: 15px;
}

.modal .modal__checkbox:checked + .modal__checkbox-icon {
  background-image: url(../image/form/icon-check.svg);
  background-color: var(--active-color);
  border-radius: 2px;
}

@media screen and (max-width: 1199.98px) {
  .modal .modal__checkbox-text,
  .modal .modal__checkbox-label-link {
    font-size: 12px;
    line-height: 1.16;
  }
}

@media screen and (min-width: 1200px) {
  .modal .modal__checkbox-text,
  .modal .modal__checkbox-label-link {
    font-size: 14px;
    line-height: 1.71;
  }
}

.modal .modal__checkbox-label-link {
  color: var(--active-color);
}

.modal .modal__btn {
  display: block;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.modal .modal__btn-close {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border-radius: 50%;
  border-color: rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.btn-close__icon {
  fill: black;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__btn-close:hover .btn-close__icon {
  fill: var(--active-color);
}
/*# sourceMappingURL=main.css.map */